<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>西語發音矯正</title>
</head>
<body>
    <h1>西語發音矯正</h1>
    <form method="Post" action="/">
        <select name="speechFile" required>
            <option value="A.wav">A</option>
            <option value="B.wav">B</option>
            <option value="C.wav">C</option>
            <option value="D.wav">D</option>
            <option value="E.wav">E</option>
            <option value="F.wav">F</option>
        </select>
        <button type="submit">Submit</button>
        {% if score is not none%}
        <h1>您的檢測分數為{{ score }}.</h1>
        {% endif %}       
    </form>
</body>
</html>